body {
  background: #fafaff;
  font-family: "KoHo", sans-serif;
}

::selection {
    background-color: rgb(115, 173, 58);
    color: #fff;
}

.top-banner {
  position: relative;
  height: 500px;
}

.top-banner-background {
  background: url(../img/egles-saka_landscape_light.jpg) center center no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.top-banner-overlay {
  background: rgba(13, 20, 13, 0.8);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.top-banner-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  align-items: center;
}

.top-banner-content {    
    text-align: center;
}

.top-banner-content-text{
    display: block;
    margin-bottom: 2rem;
}

.top-banner-content-text h1 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.dark-bg-btn {
    color: black;
    background-color: white;
    font-weight: 700;
    border-radius: 0;
    padding: 8px 20px;
}

.dark-bg-btn:hover {
    background: none;
    border: 1px solid white;
    text-transform: capitalize;
}


.single-card-widget-col {
    width: 30%;
    align-items: center;
    justify-content: center;
}

.single-card-widget {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.top-widget-card-overlay {
    background: rgba(13, 20, 13, 0.7);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 20px;
}

.single-card-widget:hover > .top-widget-card-overlay {
    background: rgba(115, 173, 58, 0.7);

}

.top-widget-card-text-on {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    padding-left: 40px;
    padding-right: 40px;
    align-content: center;
    letter-spacing: 1px;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
    margin-left: .5rem;
}

.hover-a:hover {
    color:rgb(115, 173, 58) !important;
  }


.single-post-card {
    background-color: #fafaff;
    border-style: none;
    margin-bottom: 30px;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.card-title:hover {
    color: rgb(115, 173, 58) ;
}

.light-bg-btn {
    color: black;
    background-color: white;
    font-weight: 700;
    border-radius: 0;
    border-style: none;
    padding: 8px 20px;
    text-transform: capitalize;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
    margin-top: 15px;
}

.light-bg-btn:hover {
    color: white;
    background: rgb(115, 173, 58);
}

.widget-wrap {
    padding: 10px;
    border: 1px solid lightgray;
}

.single-sidebar-widget {
    padding-bottom: 20px;
    border-bottom:1px solid lightgray;
}

.search-widget {
    margin: 20px;
}

.search-form, .form-control, .search-form-btn {
    background-color: rgb(115, 173, 58);
    border-radius: 40px;
    border-style: none;  
    line-height: 2;  
}

.search-form input::placeholder {
    color: white;
    letter-spacing: 1px;
    padding-left: 10px;
}

.search-form .la-search {
    color: white;
}

.user-image {
    margin: 20px;
    padding-bottom: 15px;
}



