body {
  background: #fafaff;
  font-family: "KoHo", sans-serif;
}

.top-banner {
  position: relative;
  height: 500px;
}

.top-banner-background {
  background: url(../img/egles-saka_landscape_light.jpg) center center no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.top-banner-overlay {
  background: rgba(13, 20, 13, 0.8);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.top-banner-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  align-items: center;
}

.top-banner-content {    
    text-align: center;
}

.top-banner-content-text{
    display: block;
    margin-bottom: 2rem;
}

.top-banner-content-text h1 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.dark-bg-btn {
    color: black;
    background-color: white;
    font-weight: 700;
}

.dark-bg-btn:hover {
    background: none;
    border: 1px solid white ;
}

.top-baner-btn {
    text-transform: capitalize;
}

.single-card-widget-col {
    width: 30%;
    align-items: center;
    justify-content: center;
}

.single-card-widget {
    position: relative;
    width: 85%;
}

.top-widget-card-overlay {
    background: rgba(13, 20, 13, 0.7);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 20px;
}

.single-card-widget:hover > .top-widget-card-overlay {
    background: rgba(115, 173, 58, 0.7);

}

.top-widget-card-text-on {
    position: absolute;
    left: 0;
    /* top: 0; */
    right: 0;
    bottom: 20px;
    z-index: 3;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
    letter-spacing: 1px;
    margin-top: auto;
    margin-bottom: auto;
}