body {
  background: #fafaff;
  font-family: "KoHo", sans-serif;
}

::selection {
    background-color: rgb(115, 173, 58);
    color: #fff;
}

img {
    max-width: 100%;
  }

* {
box-sizing:border-box;
}

/* top banner */
.top-banner {
  position: relative;
  height: 500px;
}

.top-banner-background {
  background: url(../img/egles-saka_landscape_light.jpg) center center no-repeat;
  background-size: cover;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.top-banner-overlay {
  background: rgba(13, 20, 13, 0.8);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.top-banner-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  align-items: center;
}

.top-banner-content {    
    text-align: center;
}

.top-banner-content-text{
    display: block;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

.top-banner-content-text h1 {
    font-weight: 700;
   
    margin-bottom: 2rem;
}

.dark-bg-btn {      /* for All same kind buttons */
    color: black;
    background-color: white;
    font-weight: 700;
    border-radius: 0;
    padding: 8px 20px;
}

.dark-bg-btn:hover {        
    background: none;
    border: 1px solid white;
    text-transform: capitalize;
}
/* top banner END */

/* top-category-widget-area */
.single-card-widget-col {
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.single-card-widget {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.top-widget-card-overlay {
    background: rgba(13, 20, 13, 0.7);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 20px;
}

.single-card-widget:hover > .top-widget-card-overlay {
    background: rgba(115, 173, 58, 0.7);
}

.top-widget-card-text-on {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    padding-left: 40px;
    padding-right: 40px;
    align-content: center;
    letter-spacing: 1px;
}
/* top-category-widget-area END */

/* post list left col */
.list-inline-item:not(:last-child) {
    margin-right: 0;
    margin-left: .5rem;
}

.hover-a:hover {        /* All same kind links */
    color:rgb(115, 173, 58) !important;
  }

/* post list - single post */
.single-post-card {
    background-color: #fafaff;
    border-style: none;
    margin-bottom: 30px;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.card-title:hover {
    color: rgb(115, 173, 58) ;
}

.light-bg-btn {     /* for ALL same kind buttons */
    color: black;
    background-color: white;
    font-weight: 700;
    border-radius: 0;
    border-style: none;
    padding: 8px 20px;
    text-transform: capitalize;
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%);
    margin-top: 15px;
}

.light-bg-btn:hover {      
    color: white;
    background: rgb(115, 173, 58);
}
/* post list - single post END */

/* widget sidebar (right col) */
.widget-wrap {
    padding-top: 15px;
    border: 1px solid lightgray;
}

.single-sidebar-widget {
    padding-bottom: 30px;
    border-bottom:1px solid lightgray;
    margin: 30px;
}

.search-widget .search-form,        /* Search-form */
.search-widget .form-control,
.search-widget .search-form-btn {
    background-color: rgb(115, 173, 58);
    border-radius: 40px;
    border-style: none;  
    line-height: 2;  
}

.search-form input::placeholder {
    color: white;
    letter-spacing: 1px;
    padding-left: 10px;
}

.search-form .la-search {
    color: white;
}

/* user info widget */
.user-image {
    margin: 25px;
    padding-bottom: 15px;
}

/* popular post widget */
.widget-header {        /* for all same kind widgets */
    background-color: rgb(115, 173, 58);
    margin-bottom: 30px;
}

.single-post-list__details {
    margin-left: 10px;
}

/* post categories widget */
.post-cat-list-item {
    border-bottom-style: dotted;
    border-bottom-color: lightgrey;
    border-bottom-width: 2px;
}

.post-cat-list-item:hover {
    border-bottom-style: dotted;
    border-bottom-color: rgb(115, 173, 58);
}

/* newsletter subscribe widget */
.subscribe-form .subscribe-form-envelope {
    font-size: large;
    border-right-style: none;
    border-radius: 0;
    background-color: white;
    padding-top: 6pt;
    padding-bottom: 6pt;
}

.subscribe-form-placeholder {
    border-left-style: none;
    border-right-style: none;

    padding-left: 0;
}

.subscribe-form .search-form-btn {
    color: white;
    border-radius: 0;
    border-left-style: none; 
    border-right-color: lightgray;
    border-top-color: lightgray;
    border-bottom-color: lightgray;
    background-color: rgb(115, 173, 58);
}

.subscribe-form .search-form-btn:hover {
    color: black;
}

/* tag clouds widget */
.tag-clouds-list {
    padding-left: 0;
}

.tag-clouds-list .tag-clouds-item {
    border: 1pt solid lightgray;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 10px;
}

.tag-link {
    padding: 4pt 8pt;
}

.hover-bg:hover {       /* For all same kind items */
    background-color:rgb(115, 173, 58);
    color: white !important;
  }


/* pagination */
.pagination {
    justify-content: center;
}

.page-item:hover .page-link {
    background-color: rgb(115, 173, 58);
    color: white !important;
}

.page-navigation {
    margin-top: 40px;
    margin-bottom: 70px;
}

/* footer */
.footer-area {
    background: rgb(42, 65, 20);
    color: white;
}

.subscribe-confirm-text {
    display: none;
}

.section-gap {
    padding-top: 80px;
    padding-bottom: 80px;
}

.copyright-row-link {
    text-decoration: none;
    color: white;
}

.footer-subscribe-form {
    width: 95%;    
}

.footer-subscribe-form .form-control {
    border-radius: 0;
}